<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petductivity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petductivity">
        <activity android:name=".settings.HelpActivity" />
        <activity android:name=".settings.AboutPetductivityActivity" />
        <activity android:name=".pet.PetsStatusActivity" />
        <activity android:name=".achievement.AchievementMainActivity" />
        <activity android:name=".task.TodoMainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingActivity" />
        <activity android:name=".settings.ChangePasswordActivity" />
        <activity android:name=".setting_up.ResetPasswordActivity" />
        <activity android:name=".setting_up.VerificationActivity" />
        <activity android:name=".setting_up.RegisterActivity" />
        <activity android:name=".setting_up.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".planner.PlannerMainActivity" />
        <activity android:name=".planner.PlannerWeekActivity" />
        <activity android:name=".leaderboard.LeaderboardMainActivity" />
        <activity android:name=".settings.ChangeNameActivity" />

        <receiver android:name=".AlarmReceiver"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>